@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,900&display=swap');

*, *::before, *::after {
  box-sizing:border-box;
  border-collapse:collapse;
}

/* Variables */
:root {
  --font1: 'Roboto Slab', serif;
  --fsb: 16px;
}

body {
  padding: 1 2em; margin: 0;
  font-family: var(--font1);
  /* font-family: 'Roboto Slab', serif; */
  font-size: var(--fsb);
  background:lightgrey;
}

main {
  min-height: 100vh;
  max-width:1024px;
  padding: 1em 2em;
  margin-left:auto;
  margin-right:auto;
  background:white;
}

article {margin-bottom:5em;}

footer {
 padding-top: 200px;
 display:flex;
 flex-direction: row;
 align-items: flex-end;
}

footer a {display: block; margin: .5em;}


p {margin-top:0;}
pre {margin-bottom:1em;}
h1 {font-weight: bolder;}
h2 {margin-top:4em;}
h3 {margin-top:3em;margin-bottom:0;}
h4 {margin-top:2em; margin-bottom:0;}

pre {
  background: darkgreen;
  color:lightgrey;
  padding: 10px;
}

 pre.pink {
  background: pink;
  color:black;
  padding: 10px;
}

pre.term {
  background: #333;
  color:lightgrey;
  padding: 10px;
}

img {box-shadow: 1px 1px 3px #33333333;}

.resalt {background:yellow;}
.nota {background:lightyellow;}
